 h1, h2, h3 {
   font-family: 'Roboto', sans-serif;
 }
 body {
font-family: 'Roboto Condensed', sans-serif;
background: url("https://www.pixeden.com/media/k2/galleries/131/001-subtle-light-pattern-background-texture.jpg");
 }
 ul {font-family: 'Merriweather', serif;
}
 .alignment {
  text-align: center;
}
#h2 {
  position: relative;
  bottom: 15px;
  font-weight: 500;
}
#img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}
.borders {
  border: thin solid black;
}
a:hover {
  color: red;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
a {
  margin: 5%;
  border: thin solid black;
  background-color: #107896;
  color: #FFFFFF;
  font-size: 15px;
}
